body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
  
}
h1{
    font-size: 50px;
}
.emon{
    color: orange;
}
.link-button{
    text-decoration: none;
  background-image: linear-gradient(orange,red);
  color: white;
  border-radius: 5px;
  padding: 10px 40px;
  font-weight: 700;
}
section{
    display: flex;
    padding-right: 60px;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
    width: 80%;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
   background-position: right;
  
}